body{
    box-sizing: border-box;
    font-family: Arial;
}

*{
    margin: 0;
    padding: 0;

}

a:hover{
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

/* Navbar */
.navbar{
height: 7.5vh;
}

.bi{
    color: #96c93c;
}
/* Navbar Ends */

.cover{
    margin-top:7.5vh;
    height: 92.5vh;
    background-color: #96c93c;
  position: relative;
  
}

.cover-img{
    background: url(./Resouces/cover_img.png);
    background-size: auto 100%;
    width: auto;
    height: 92.5vh;
    background-repeat: no-repeat;
    
}


.cover-content-right{
    position: absolute;
    top: 5%;
    left: 70%;
}

.cover-content-right h1{
    color: rgba(255, 255, 255, 0.9);
    font-family: Arial;
    line-height: 75%;
    font-weight: 700;

}

.cover-content-right-p1, .cover-content-right-p2 {
    margin-top: 30px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.9);
    width: 93.5%;
}

.cover-button-outer{
width: 39%;
background-color: #7aae3d;
margin: 30px auto;
text-align: center;
padding: 10px 10px;
}

.how-can-i{
    margin: 0;
    border: 5px solid #96c93c;
    padding: 10px;
}

.cover-content-right > a{
text-decoration: none !important;

color: rgba(255, 255, 255, 0.9);

}

.heading-content{
    width: 1000px;

    margin: 30px auto 0 auto;
   

}

.together, .the-right{
    color: #999999;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.the-projects{
    margin: 30px 0px;
    text-align: center;
}

.grid-div{

   
display: flex;
justify-content: space-around;
margin: 0 auto;
}


.grid-div img{
    width: 130px;
}


.lorem{
    color: #999999;
    font-size: 27px;
    padding: 0;
   margin-top: 30px;
   font-weight: normal;
}